@import url("normalize.css");

@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik-Medium.ttf);
}

body {
  font-family: rubik, "Times New Roman";
}
.center {
  width: 80%;
  max-width: 1200px;
  margin: 2em auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
}

header {
  background-color: rgb(211, 210, 186);
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header h1 {
  color: rgb(12, 12, 12);
}

.categorias {
  background-color: rgb(61, 60, 1);
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  padding: 1em;
}

.categorias p {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

#content {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  min-height: 50em;
  border: 1px solid rgb(160, 158, 158);
  background-color: rgb(211, 210, 186);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#content div {
  width: 26em;
  background-color: white;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.8em;
}
#content div div {
  background-color: rgb(61, 60, 1);
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}
#content div h1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0;
  color: white;
}
#content ul {
  background-color: rgb(255, 243, 133);
  margin: 0;
  padding: 1em;
}

#content div li {
  list-style: none;
  margin: 0;
  padding-bottom: 0.5em;
  color: rgb(61, 60, 1);
}

#content span {
  color: rgb(150, 0, 0);
}
